.nav {
  padding: 20px 15px;
  background: rgb(21, 180, 191);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav-list_item:hover {
  color: rgba(0, 0, 255, 0.59);
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

button:active {
  background: rgba(0, 0, 255, 0.59);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}