.container {
    border: 19px solid #000;
    display: flex;
    width: 1493px;
    height: 761px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item1 {
    margin-top: 152px;
    width: 133px;
    height: 216px;
    background: #BC4872;
}
.item2 {
    margin-bottom: 152px;
    width: 133px;
    height: 216px;
    background: #BC4872;
}
.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Ink Free;
    font-size: 36px;
    font-weight: 400;
}
.item-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Ink Free;
    font-size: 36px;
    font-weight: 400;
}
.item-3 {
    background: white;
    position: relative;
    width: 240px;
}
.item-7 {
    background: white;
    position: relative;
    width: 240px;
}
.item-12 {
    background: white;
    position: relative;
    width: 240px;
}