.box{
    background: #2D9ECE;
    position: absolute;
    top: 29px;
    left: 33px;
    width: 120px;
    height: 120px;
}   
.box2{
    background: #CE2D4A;
    position: absolute;
    top: 42px;
    left: 62px;
    width: 120px;
    height: 120px;
}
.box3{
    background: #2D9ECE;
    position: absolute;
    top: 220px;
    left: 61px;
    width: 120px;
    height: 120px;
}
.box4{
    background: #CE2D4A;
    position: absolute;
    top: 186px;
    left: 121px;
    width: 120px;
    height: 120px;
}
.box5{
    background: #2D9ECE;
    position: absolute;
    top: 385px;
    left: 61px;
    width: 120px;
    height: 120px;
}
.box6{
    background: #CE2D4A;
    position: absolute;
    top: 411px;
    left: 26px;
    width: 120px;
    height: 120px;
}
.hr1{
    background: #000;
    position: absolute;
    top: 551px;
    left: 0px;
    width: 1600px;
    height: 1px;
}
.box7{
    background: #CE2D4A;
    position: absolute;
    top: 594px;
    left: 1px;
    width: 120px;
    height: 120px;
}
.box8{
    background: #CE2D4A;
    position: absolute;
    top: 594px;
    left: 240px;
    width: 120px;
    height: 120px;
}
.box9{
    background: #CE2D4A;
    position: absolute;
    top: 594px;
    left: 480px;
    width: 120px;
    height: 120px;
}
.box10{
    background: #CE2D4A;
    position: absolute;
    top: 594px;
    left: 720px;
    width: 120px;
    height: 120px;
}
.box11{
    background: #CE2D4A;
    position: absolute;
    top: 594px;
    left: 960px;
    width: 120px;
    height: 120px;
}
.box12{
    background: #2D9ECE;
    position: absolute;
    top: 714px;
    left: 120px;
    width: 120px;
    height: 120px;
}
.box13{
    background: #2D9ECE;
    position: absolute;
    top: 714px;
    left: 360px;
    width: 120px;
    height: 120px;
}
.box14{
    background: #2D9ECE;
    position: absolute;
    top: 714px;
    left: 600px;
    width: 120px;
    height: 120px;
}
.box15{
    background: #2D9ECE;
    position: absolute;
    top: 714px;
    left: 840px;
    width: 120px;
    height: 120px;
}
.box16{
    background: #2D9ECE;
    position: absolute;
    top: 714px;
    left: 1080px;
    width: 120px;
    height: 120px;
}
.hr2{
    background: #000;
    position: absolute;
    top: 875px;
    left: 0px;
    width: 1600px;
    height: 1px;
}
.box17{
    background: #CE2D4A;
    position: absolute;
    top: 910px;
    left: 1px;
    width: 120px;
    height: 120px;
}
.box18{
    background: #CE2D4A;
    position: absolute;
    top: 910px;
    left: 241px;
    width: 120px;
    height: 120px;
}
.box19{
    background: #CE2D4A;
    position: absolute;
    top: 910px;
    left: 481px;
    width: 120px;
    height: 120px;
}
.box20{
    background: #2D9ECE;
    position: absolute;
    top: 1030px;
    left: 121px;
    width: 120px;
    height: 120px;
}
.box21{
    background: #2D9ECE;
    position: absolute;
    top: 1030px;
    left: 361px;
    width: 120px;
    height: 120px;
}
.box22{
    background: #CE2D4A;
    position: absolute;
    top: 1150px;
    left: 121px;
    width: 120px;
    height: 120px;
}
.box23{
    background: #CE2D4A;
    position: absolute;
    top: 1150px;
    left: 361px;
    width: 120px;
    height: 120px;
}
.box24{
    background: #2D9ECE;
    position: absolute;
    top: 1266px;
    left: 1px;
    width: 120px;
    height: 120px;
}
.box25{
    background: #2D9ECE;
    position: absolute;
    top: 1266px;
    left: 241px;
    width: 120px;
    height: 120px;
}
.box26{
    background: #2D9ECE;
    position: absolute;
    top: 1266px;
    left: 481Spx;
    width: 120px;
    height: 120px;
}