@media (min-width: 375px) and (max-width: 600px) {
    header {
        margin-top: 70px;
        width: 343px;
        height: 611px;
        flex-direction: column;
        & .img {
            height: 220px;
            border-radius: 10px 10px 0 0;
        }
    }
    .container {
        padding: 24px;
        & .box {
            margin: 0;
        }
    }
}