
input[type=checkbox]{
  accent-color: #A4FFAF;  
}

.checkbox label {
    border-radius: 50px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 0px;
    margin-right: 15px;
    font-size: 11px;
}

label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 24px;
    bottom: 1px;
    background-color: #A4FFAF;
}

input[type=checkbox] {
    display: none;
}

.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox]:checked+label:before {
    content: "\2713";
    font-size: 19px;
    text-align: center;
    color: black;
    line-height: 17px;
}   

.input-div {
    margin-bottom: 19px;
}

label {
    color: var(--Almost-White, #E6E5EA);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-weight: 700;
}

