@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
}
* {
    margin-top: 0;
}

.lh {
    color: #D1D2DA;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.25px;
    text-decoration-line: strikethrough;
}
.lb1 {
    color: #494C6B;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.25px;
}